matplotlib==3.7.1
nltk==3.8.1
numba==0.57.1
numpy==1.23.5
opencv-contrib-python==4.8.1.78
opencv-python==4.8.0.74
pandas==2.0.3
resampy==0.4.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
soundfile==0.12.1
torch==2.0.1+cu118
torch-cluster==1.6.1+pt20cu118
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu118
torch-sparse==0.6.17+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torchaudio==2.0.2+cu118
torchfile==0.1.0
torchtext==0.15.2+cpu
torchvision==0.15.2+cu118
tqdm==4.64.1
transformers==4.31.0
git+https://github.com/openai/CLIP.git